@model MyBudgetDB.Models.BudgetCommands.EditBudgetBase

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Balance" class="control-label"></label>
    <input asp-for="Balance" class="form-control" />
    <span asp-validation-for="Balance" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="InitAmount" class="control-label"></label>
    <input asp-for="InitAmount" class="form-control" />
    <span asp-validation-for="InitAmount" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreationDate" class="control-label"></label>
    <input asp-for="CreationDate" class="form-control" />
    <span asp-validation-for="CreationDate" class="text-danger"></span>
</div>