@{
    ViewData["Title"] = "About MyBudgetDB";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>MyBudget is a budget planner: it helps the user rein in their spending and getting their personal 
    finances under control. It’s basically a budget web app to helps you manage money, stick to a budget,
    and help with investment decisions, with the general idea being that the user be able to set a budget 
    and add entries that draw against it, designating a name and value as well as a category.</b></p>

<p>Developers:</p>
<p>Leidy Russell</p>
<p>Daniel Draper</p>
<p>Kyle Nicholas</p>
