@{
    ViewData["Title"] = "Admin Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <a asp-controller="Budget" asp-action="ViewBudgetsAdmin" class="btn btn-success">View All Budgets</a>
</p>