@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><a href="mailto:lrussell@dmacc.edu">Leidy Russell</a></p>
<p><a href="mailto:ddraper@dmacc.edu">Daniel Draper</a></p>
<p><a href="mailto:kmnicholas@dmacc.edu">Kyle Nicholas</a></p>